<div id="addThingModal" class="modal hide fade thingModal addThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="addForm" class="form-horizontal">

			 <div class="modal-header">
    			<div class="row-fluid">
					<div class="span3"></div>
					<div class="span6">
						<% if ( giveAway==false ) { %> 
						<h1>Add a Thing to Swap<h1>
							<% } else { %>
							<h1>Add a Thing to Give Away<h1>
								<% }  %>
					</div>
					<div class="span3">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					</div>
				</div>
  			</div>
				
			<div class="row-fluid">
				<div class="span6">
					<div class="control-group">
						<label class="control-label">Name it</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="thingTitle" required placeholder="E.g 'Brand new leather shoes'">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputAbout">Describe it</label>
						<div class="controls">						
							<textarea id="descForNewThing" class="input-xlarge" rows="3" placeholder="Give us a short description of your thing"></textarea>	
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Which country is it in?</label>
						<div class="controls">
							<input type="text" required id="placementCountry" placeholder="Country">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Which city is it in?</label>
						<div class="controls">
							<input type="text" required id="placementCity" placeholder="City">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Categorise it</label>
						<div class="controls">
							<select id="categorySelect">
								<% _.each(categories, function(category) { %>
								<option> <%= category.title %> </option>
								<% }); %>
							</select>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Sub-categorise it</label>
						<div class="controls">
							<select id="subCategorySelect">
							<% _.each(subCategories, function(category) { %>
								<option><%= category.title %></option>
							<% }); %>
							</select>
						</div>
					</div>


					<div class="control-group">
						<label class="control-label" for="inputInterests">Tag it:</label>
						<div class="controls">
						
							<input type="text" class="input-xlarge" id="ed_inputTags" placeholder="Armani, Leather, Calvin Clein, Shiny, Apple, etc..">

							<div class="well tagPool">
								<span class="label label-info tag-label"></span>
							</div>
						</div>
					</div>
			</div> <!-- /span 6 -->
				<div class="span2"></div>
				<div class="span4">
						<label class="text-error" id="addImageWarning"></label>
						<div class="thumbnail">
							<div id="thing_drop_zone">
								<img id="addThingImg" src="/img/unknown.gif" alt="Thing image">
							</div>
							<h4>Drag an image onto the image frame</h4>
							<p>Or click the button to choose a file from your device</p>
							<p><input type="file" id="newThingImg"></p>
						</div>
						<div class="control-group">
							<button class="btn btn-success btn-large">Save it</button>
							<button class="btn btn-info btn-large" data-dismiss="modal">Go Back</button>
						</div>
			</div>
				</div>	 <!-- /row-fluid -->
			</form>
		</div> <!-- /add thing modal -->