
<!--<div class="span3">-->
	<div class="artifact-cat">

		<a href="" class="artifact-imgsap">
			<img src="/img/<%= thing.imgPath %>"
			class="artifact-medium img-polaroid thingImg">

			<button class="checkOutButton btn btn-success btn-medium">Check out</button>
		</a>
		<div class="underThing">
			<a href="" class="loveTree" >
				<img src="/img/tree.png" class="tree" />
			</a>

			<p class="likes"><%= thing.loves.length%> Loves </p>
			<p class="small"><%= thing.placementCity %>,<%= thing.placementCountry %> </p>
		</div>
	</div>
<!--</div>-->